:root {
    --color-white: #ffff;
    --color-orange: #ff6b00;
    --color-orange-light: #ff8b37;
    --color-orange-extra-light: #ffac70;
    --color-black: #000;
    --color-black-light: #393939;
    --color-gray-dark: #5d5d5d;
    --color-gray: #989898;
    --color-gray-light: #b5b5b5;
    --color-gray-extra-light: #f4f4f4;
    --color-light: #fff;
    --color-green: #1e5900;
    --color-green-light: #1cc92d;
    --color-red: #d73232;
    --color-red-light: #ff6745;
    --color-purple: #8f4fe0;
    --overlay-color: #0000004d;
}
