.counter {
    width: 92px;
    height: 30px;
    padding: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--color-gray);
    border-radius: 10px;
    transition: all 0.3s ease;

    .itemDecrement,
    .itemIncrement {
        padding: 8px;
        margin: -8px;

        svg {
            fill: var(--color-gray);
        }
    }

    &:hover {
        border: 1px solid var(--color-gray-light);
    }

    .itemDecrement:hover {
        svg {
            fill: var(--color-black);
        }
    }

    .itemIncrement:hover {
        svg {
            fill: var(--color-black);
        }
    }
}
