.row {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    transition: all ease 0.3s;
    align-items: center;

    &:hover {
        transform: scale(1.01);
    }

    .image {
        margin-bottom: 20px;
    }

    .text {
        color: var(--color-black);
    }
}
