.productType {
    padding: 5px 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.hit {
    min-width: 49px;
    height: 21px;
    text-align: center;
    font-size: 10px;
    font-weight: 600;
    line-height: 6px;
    border: 1px solid var(--color-green-light);
    border-radius: 15px;
}

.promotion {
    min-width: 58px;
    height: 21px;
    text-align: center;
    font-size: 10px;
    font-weight: 600;
    line-height: 6px;
    border-radius: 15px;
    border: 1px solid var(--color-purple);
}
