.notification{
    height: 57px;
    display: flex;
    align-items: center;
    justify-content: center ;
    position: relative;
    border-radius: 10px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;

    .closeBtn{
        position: absolute;
        top: 10px;
        right: 10px;
        color: var(--color-light);
    }

    .text{
        color: var(--color-light);
    } 
}

.success{
    width: 247px;
    background:var(--color-green-light);  
}

.failed{
    width: 296px;
    background: var(--color-red-light);

    .text{
        margin-right: 10px;
    }
}

.visible{
    opacity: 1;
    visibility: visible;
}