.category {
    display: flex;
    flex-direction: column;

    .title {
        align-self: flex-start;
        margin-bottom: 52px;
    }

    .subcategories {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-start;
    }
}
