.title {
    margin: 30px 0 52px;
    align-self: flex-start;

    @media (width <=480px) {
        font-size: x-large;
    }
}

.subcategories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    gap: 45px;

    .category {
        text-align: center;
        flex: 1 0 20%;

        @media (width <=1280px) {
            flex: 1 0 25%;
        }

        @media (width <=769px) {
            flex: 1 0 33.333%;
        }

        @media (width <=480px) {
            flex: 1 0 100%;
        }
    }
}
