.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    align-self: flex-start;
    margin: 30px 0 52px;
}

.categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    gap: 45px;

    .category {
        text-align: flex-start;
        flex: 1 0 20%;
    }
}

.breadcrumbItem {
    align-self: flex-start;
}
