.h1 {
    font-size: 25px;
    line-height: 22px;
    font-weight: 500;
}

.h2 {
    font-size: 18px;
    font-weight: 500;
    line-height: 16px;
}

.h3 {
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
}
