.h1 {
    font-size: 30px;
    line-height: 22px;
    font-weight: 600;
}

.h2 {
    font-size: 24px;
    font-weight: 600;
    line-height: 16px;
}

.h3 {
    font-size: 20px;
    font-weight: 600;
    line-height: 8px;
}
