.product {
    margin: 0 20px;
    display: flex;
    flex-direction: column;

    &__header {
        display: flex;
        justify-content: space-between;

        &_types {
            display: flex;
            gap: 8px;
        }
    }

    &__footer {
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &_prices {
            display: flex;
            align-items: center;
            gap: 8px;
        }
    }
}

.image {
    margin-top: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.title_loader {
    display: flex;
    justify-content: center;

    .title {
        margin-top: 20px;
        height: 50px;
    }
}
