.cart_order {
    width: 362px;

    @media (width<=1110px) {
        width: 100%;
        margin-bottom: 50px;

        .order__btn {
            margin: 0 auto;
        }
    }

    .order_title {
        border-bottom: 1px solid var(--color-gray);
        padding-bottom: 17px;
    }

    .order_details {
        display: flex;
        justify-content: space-between;
        margin-top: 44px;
        margin-bottom: 29px;

        .empty_title {
            color: var(--color-orange);
            margin-bottom: 10px;
        }

        .empty_text {
            color: var(--color-orange-light);
        }

        .order_items {
            .total {
                font-size: 14px;
                color: var(--color-gray-light);
            }

            .items {
                font-weight: 600;
            }
        }

        .order_price {
            align-self: flex-end;
            font-weight: 600;
        }
    }
}
