.row {
    width: 203px;
    height: 203px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    .image {
        width: 130px;
        height: 130px;
        margin-bottom: 10px;
        background: red;
    }

    .text {
        font-weight: 500;
    }
}
