.linkItem {
    svg {
        margin-right: 10px;
    }
    
}

.email,.linkItem {
    &:hover {
        svg {
            fill: var(--color-orange);
        }
    }
}

.instagram,.phone,.whatsapp,.address {
    &:hover {
        svg {
            stroke: var(--color-orange);
        }
    }
}