.linkItem {
    p {
        font-size: 18px;
    }

    svg {
        margin-right: 10px;
    }
}

.email {
    &:hover {
        svg {
            fill: var(--color-orange);
        }
    }
}

.instagram,
.phone,
.whatsapp,
.address {
    &:hover {
        svg {
            stroke: var(--color-orange);
        }
    }
}
