.linkItem {
    svg {
        margin-right: 10px;

        &:hover {
            svg {
                fill: var(--color-orange);
            }
        }
    }
}

.email {
    &:hover {
        svg {
            fill: var(--color-orange);
        }
    }
}

.instagram {
    &:hover {
        svg {
            stroke: var(--color-orange);
        }
    }
}

.phone {
    &:hover {
        svg {
            stroke: var(--color-orange);
        }
    }
}

.whatsapp {
    &:hover {
        svg {
            stroke: var(--color-orange);
        }
    }
}

.address {
    &:hover {
        svg {
            stroke: var(--color-orange);
        }
    }
}
