.empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

    .subtitle {
        margin-top: 26px;
        margin-bottom: 56px;
    }
}
