.title {
    margin-top: 30px;
    margin-bottom: 60px;
    align-self: flex-start;
}

.sorting {
    margin-bottom: 20px;
    align-self: flex-start;
}

.filters__container {
    display: none;

    @media (width <=1280px) {
        display: inline-flex;
        align-items: center;
        margin-bottom: 30px;
    }
}

.filters {
    display: none;
    align-items: center;

    @media (width <=1280px) {
        display: flex;
        margin-left: 10px;
    }

    span {
        margin-left: 15px;
    }
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: -22px;

    @media (width <=1280px) {
        flex-direction: column-reverse;
        margin-left: 0;
    }

    .products {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 80px;

        @media (width <=1280px) {
            justify-content: space-around;
            gap: 20px;
        }

        .product {
            width: 374px;

            @media (width <=1280px) {
                margin-bottom: 20px;
            }

            @media (width <=810px) {
                margin: 0;
            }

            @media (width <=410px) {
                width: 330px;
            }

            @media (width <=375px) {
                width: 300px;
            }
        }
    }
}
