:root {
    --color-orange: #FF6B00;
    --color-orange-light: #FF8B37;
    --color-black: #000;
    --color-black-light: #393939;
    --color-gray: #989898;
    --color-gray-light: #F4F4F4;
    --color-light: #FFF;
    --color-green: #1E5900;
    --color-green-light: #1CC92D;
    --color-red: #D73232;
    --color-red-light: #FF6745;
    --color-purple: #8F4FE0;
  }