.container {
    width: 1200px;
}

.title {
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 40px;
    margin-left: -20px;
}

.next {
    background: red;
}

.loader {
    display: flex;
    gap: 80px;
}
