.container {
    width: 1200px;
}

.title {
    margin-bottom: 40px;
    margin-left: -20px;
}

.next {
    background: red;
}

.loader {
    display: flex;
    gap: 80px;
}

.priority {
    position: relative;
    z-index: 1;
}
