.content {
    display: flex;
    flex-direction: column;

    .title {
        align-self: flex-start;
        margin: 30px 0 51px;
    }

    .sorting {
        align-self: flex-start;
    }

    .container {
        margin-top: 27px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-left: -22px;

        .products {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            gap: 80px;

            .product {
                width: 374px;
            }
        }
    }
}

.empty {
    margin-left: auto;
    margin-right: auto;
}
