.block__no_goods {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;

    @media (width <= 768px) {
        font-size: 18px;
    }
}

.block__no_goods h1 {
    font-size: 30px;
    margin-top: 15px;
    white-space: normal;
    word-wrap: break-word;

    @media (width <= 768px) {
        font-size: 24px;
    }
}

.block__return_back_link {
    color: var(--color-orange) !important;
    height: 52px;
    width: 278px;
    background: white;
    border: 1px solid var(--color-orange);
    border-radius: 22px;
    font-size: 24px;
    margin-top: 25px;
    white-space: nowrap;
}

.empty {
    display: flex;
    height: 50vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    .icon {
        margin-bottom: 10px;
    }

    .title {
        margin-bottom: 10px;
        font-weight: 500;
    }
}

// @media (max-width: 768px) {
//     .empty {
//         max-width: 90%;
//     }

//     .block__no_goods {
//         max-width: 90%;
//     }
// }
