.logo {
    display: flex;
    align-items: center;
    color: var(--color-black);

    &__title {
        margin-left: 3px;
        font-weight: 800;
        line-height: 1;
        font-size: 18px;
        letter-spacing: 1px;
    }
}
