.content {
    display: flex;
    flex-direction: column;
}

.title {
    margin: 30px 0;
    align-self: flex-start;
}

.sorting {
    align-self: flex-start;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: -15px;
   
}

.product {
    width: 374px;
    margin: 15px;
}
