.navItem {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    svg {
        margin-right: 0;
    }

    &:hover {
        color:var(--color-orange-light);

        svg {
            transition: all ease 0.3s;
            fill: var(--color-orange-light);
        }
    }
}

.text {
    margin-top: 5px;
}
