.categories{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 326px;

    .title{
        margin-bottom: 30px;
    }

    .row{
        .item{
            cursor: pointer;
            margin-bottom: 25px;
            transition: all 0.3s ease;
        }
    }
}

.link{
    justify-content: flex-start;
}