/* stylelint-disable no-descending-specificity */
.radio {
    display: flex;
    align-items: center;
    margin-bottom: 5px;

    &:last-child {
        margin-left: 0;
    }

    .input {
        display: none;
    }

    .item {
        position: relative;
        transition: all 0.2s ease;
        color: var(--color-gray);

        &::before,
        &::after {
            content: "";
            position: absolute;
            border-radius: 50%;
            transition: all 0.2s ease;
        }
    }
}

.primary {
    .item {
        &::before {
            height: 18px;
            width: 18px;
            background: var(--color-gray-light);
            left: -20px;
            top: calc(50% - 9px);
        }

        &:hover {
            &::before {
                background: var(--color-gray);
            }
        }

        &::after {
            height: 16px;
            width: 16px;
            background: var(--color-white);
            left: -19px;
            top: calc(50% - 8px);
        }
    }

    input[type="radio"]:checked + .item {
        &::before {
            height: 18px;
            width: 18px;
            background: var(--color-orange);
            left: -20px;
            top: calc(50% - 9px);
        }

        &::after {
            height: 10px;
            width: 10px;
            background: var(--color-white);
            left: -16px;
            top: calc(50% - 5px);
        }
    }
}

.secondary {
    .item {
        &::before {
            height: 18px;
            width: 18px;
            border: 2px solid var(--color-orange);
            left: -25px;
            top: calc(50% - 9px);
        }

        &:hover {
            &::before {
                border: 2px solid var(--color-orange-light);
            }
        }

        &::after {
            background: var(--color-orange);
            height: 12px;
            width: 12px;
            left: -20px;
            top: calc(50% - 4px);
            transform: scale(5);
            transition: 0.4s ease-in-out 0s;
            opacity: 0;
            visibility: hidden;
        }
    }

    input[type="radio"]:checked + .item {
        border-color: var(--color-orange);

        &::after {
            opacity: 1;
            visibility: visible;
            transform: scale(1);
        }
    }
}
