.go_back_btn {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--color-gray);

    .back_btn_icon {
        stroke: var(--color-gray-dark);
    }

    &:hover {
        .back_btn_icon {
            stroke: var(--color-orange);
            transform: translateX(-5px); 
        }
    }
}

.back_btn_text {
    color: var(--color-gray-dark);
}
