.breadcrumbs {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 61px;
}

.icon {
    align-self: center;
    fill: var(--color-black);
    margin: 0 15px;
}

.crumb {

    @media (width <=480px) {
        margin-bottom: 5px;
    }

    .link {
        color: var(--color-black);
    }
}

.lastCrumb {
    color: var(--color-black-light);
}
