.link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: all ease 0.3s;

    svg {
        transition: all ease 0.3s;
    }
}

.default {
    color: var(--color-black);

    &:hover {
        color: var(--color-orange-light);
        transition: all ease 0.3s;
    }
}

.primary {
    color: var(--color-orange);
}

.secondary {
    color: var(--color-orange-light);
}

.outline {
    width: 278px;
    height: 52px;
    text-align: center;
    color: var(--color-orange);
    border: 1px solid var(--color-orange);
    border-radius: 22px;

    &:hover {
        color: var(--color-orange-light);
        border: 1px solid var(--color-orange-light);
    }
}
