.filters {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    @media (width <=1280px) {
        margin-bottom: -270px;
        opacity: 0;
        visibility: hidden;
        margin-left: 20px;
        transition: all ease 0.3s;
    }

    .price {
        margin-bottom: 20px;

        .title {
            color: var(--color-black);
            font-weight: 500;
            margin-bottom: 20px;
        }

        .inputs {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .priceItem {
                margin-right: 10px;
            }
        }
    }

    .options {
        margin-top: 20px;

        .promotion,
        .hits,
        .InStock {
            margin-bottom: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .title {
                font-weight: 500;
            }
        }

        .hits {
            margin-bottom: 30px;
        }
    }
}

.filters.visible {
    @media (width <=1280px) {
        opacity: 1;
        visibility: visible;
        margin-left: 20px;
        margin-bottom: 50px;
    }
}
