.characteristic {
    &__title {
        margin-bottom: 15px;
    }

    &__childrens {
        display: flex;
        flex-direction: column;
        gap: 10px;

        &_item {
            width: 60%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid #d4d4d4;
            padding-bottom: 5px;
        }
    }
}
